
@media (max-width: 820px) {

    .overflowHidden {
        overflow: hidden;
    }

    .shopingCartButton {
        display: flex;
    }

    #shoppingCart {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: white;
    }

    .stickyShopingCart {
        margin: 0;
    }

    .calculatedPrice td {
        font-size: 20px;
    }

    .companyLogo {
        left: 0px ;
    }

    .d_noneMedia {
        display: none;
    }

    .basket-elements {
        border: 1px solid black;
        width: clamp(370px, 20vw, 350px);
    }
    .deliveryButton {
        width: 370px ;
    }

    .deliveryNotification {
         width: 370px ;
         padding: 0 10px;
    }

    .closingTag {
        display: block ;
    }

}

@media (max-width: 522px) {
    .standartContainer {
         width: 400px ;
    }
    .companyLogo {
        top: 210px ;
    }

    .closingTag {
        right: -170px ;
    }
}

@media (max-width: 420px) {

     .standartContainer {
         width: 350px ;
    }
    .basket-elements {
        width: 300px ;
    }
    .deliveryButton {
        width: 300px ;
    }

    .deliveryNotification {
        width: 300px ;
        gap: 8px;
    }

    .closingTag {
        right: -137px ;
    }
}

@media (max-width: 365px)  {
    .standartContainer {
         width: 300px ;
    }
}